.DS_Store
DELAY/__pycache__/Classifier.cpython-39.pyc
DELAY/__pycache__/Dataset.cpython-39.pyc
Networks/__pycache__/SiameseVGG.cpython-39.pyc
Networks/__pycache__/VGG_CNNC.cpython-39.pyc
Networks/__pycache__/vgg.cpython-39.pyc